{% extends "rrdviewer/base.html" %}
{% block content %}
        <script>
            var graph_data={};
            var graphs={};

            function update_url(url){
                var jqxhr = $.getJSON( url, function(data) {
                    // Update each chart that uses this url
                    graph_data[url]=data;
                    for (selector in graphs){
                        if (graphs[selector]['active']['url'] == url){
                            d3.select(selector)
	                        .datum(data)
        	                .transition().duration(500);
                        }
                    }
        	    }).always(function() {
	                setTimeout(function(){
	                    update_url(chart, selector, url);
        	        }, 30000);
	            });
            }

            function add_standard_chart(selector){
                nv.addGraph(function() {
                    var chart = nv.models.stackedAreaChart()
                    .x(function(d) { return d[0] })
                    .y(function(d) { return d[1] })
                    .clipEdge(true)
                    .useInteractiveGuideline(true)
                    ;

                    chart.xAxis
                    .showMaxMin(false)
                    .tickFormat(function(d) { return d3.time.format(graphs[selector]['active']['tickformat'])(new Date(d)) });

                    chart.yAxis
                        .tickFormat(d3.format(',.2f'));

                    nv.utils.windowResize(chart.update);

                });
            }



        </script>
{% for graph in graphs %}

<h3>{{ graph.name }}</h3>
<div class="row">
    <div class="col-md-6">{{ graph.name }}</div>
    <div class="col-md-6">
        <ul id="graph_{{ graph.graph_id }}_nav" class="nav nav-tabs">
            <li class="active"><a href="#graph_{{ graph.graph_id }}_hourly_container">Hour</a></li>
            <li><a href="#graph_{{ graph.graph_id }}_daily_container">Day</a></li>
            <li><a href="#graph_{{ graph.graph_id }}_weekly_container">Week</a></li>
            <li><a href="#graph_{{ graph.graph_id }}_monthly_container">Month</a></li>
            <li><a href="#graph_{{ graph.graph_id }}_yearly_container">Year</a></li>
        </ul>
        <div id="{{graph.graph_id}}">
            <svg height="300px"></svg>
        </div>
        </div>
    </div>
</div>


<script>
    graphs["graph_{{graph.graph_id}}"]={};
    graphs["graph_{{graph.graph_id}}"]['active']={ "url":"{{ graph.hourly_rrd_url }}", "tickformat":"%X"};
    graphs["graph_{{graph.graph_id}}"]['hourly']={ "url":"{{ graph.hourly_rrd_url }}", "tickformat":"%X"};
    graphs["graph_{{graph.graph_id}}"]['daily']={ "url":"{{ graph.daily_rrd_url }}", "tickformat":"%X"};
    graphs["graph_{{graph.graph_id}}"]['weekly']={ "url":"{{ graph.weekly_rrd_url }}", "tickformat":"%%x X"};
    graphs["graph_{{graph.graph_id}}"]['monthly']={ "url":"{{ graph.monthly_rrd_url }}", "tickformat":"%x"};
    graphs["graph_{{graph.graph_id}}"]['yearly']={ "url":"{{ graph.yearly_rrd_url }}", "tickformat":"%x"};
    graph_data["{{ graph.hourly_rrd_url }}"]=[]
    graph_data["{{ graph.daily_rrd_url }}"]=[]
    graph_data["{{ graph.weekly_rrd_url }}"]=[]
    graph_data["{{ graph.monthly_rrd_url }}"]=[]
    graph_data["{{ graph.yearly_rrd_url }}"]=[]

    update_url("{{ graph.hourly_rrd_url }}");
    update_url("{{ graph.daily_rrd_url }}");
    update_url("{{ graph.weekly_rrd_url }}");
    update_url("{{ graph.monthly_rrd_url }}");
    update_url("{{ graph.yearly_rrd_url }}");

    add_standard_chart("graph_{{ graph.graph_id }}");


</script>


{% endfor %}
{% endblock %}
